<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur de Musique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Choisis ton artiste</h1>
    <form action="/generate" method="post">
        <label for="artist">Artiste :</label>
        <select name="artist" id="artist">
            <option value="beeth">Beeth</option>
            <option value="albeniz">Albeniz</option>
            <option value="debussy">Debussy</option>
        </select><br>

        <label for="duration">Durée (en nombre de notes) :</label>
        <input type="number" id="duration" name="duration" min="5" max="300" required><br>

        <input type="submit" value="Générer">
    </form>

    <h2>Voici ta génération :</h2>
    <audio controls>
        <source src="{{ url_for('static', filename='generated/music1.mp3') }}" type="audio/mpeg">
        Ton navigateur ne supporte pas l'audio HTML.
    </audio>
    <br><br>
    <a href="{{ url_for('static', filename='generated/music1.mp3') }}" download>Télécharger le fichier MP3</a>
</body>
</html>
